.order-details-complain-modal {
    &__body {
        flex-grow: 1;

        @include mobile {
            flex-direction: column;
        }
    }
}

.dc-modal__container_order-details-complain-modal {
    .dc-modal-footer {
        border-top: solid 2px var(--general-section-1);
    }
}
